<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>babyface.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A657A091AC56BE000ACDDF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A657A211AC56BE000ACDDF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A8C0A321AC420700034F16A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A8C0A3D1AC420710034F16A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
